*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}
:root{
  --black-color:#1F1F1F;
  --orange-color: #FF9E2C;
  --white-color: #fff; 
  --pink-color: #ac9c9c; 
}
@font-face {
  font-family: Gilroy-Bold;
  src: url("./assests/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Gilroy-Heavy;
  src: url("./assests/fonts/Gilroy-Heavy.ttf");
}
@font-face {
  font-family: Gilroy-Light;
  src: url("./assests/fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: Gilroy-Medium;
  src: url("./assests/fonts/Gilroy-Medium.ttf")
}
@font-face {
  font-family: Gilroy-Regular;
  src: url("./assests/fonts/Gilroy-Regular.ttf");
}

h1{
  font-size: 70px;
  font-family: Gilroy-Bold;
}
h2{
  font-size: 55px;
  font-family: Gilroy-Bold;
}
h3{
  font-size: 44px;;
}
h4{
  font-size: 35px;
}
h5{
  font-size: 25px;
}
h6{
  font-size: 20px;
}
a{
  font-size: 16px;
  font-family: Gilroy-Medium;
}
.small{
  font-size: 18px;
}
p{
  font-size: 20px;
}
@media(max-width:1040.99px){
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 40px;
    font-family: Gilroy-Bold;
  }
  h3{
    font-size: 35px;;
  }
  h4{
    font-size: 28px;
  }
  h5{
    font-size: 22px;
  }
  h6{
    font-size: 18px;
  }
  .small{
    font-size: 16px;
  }
  p{
    font-size: 17px;
  }
}
@media(max-width:767.99px){
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 26px;;
  }
  h4{
    font-size: 22px;
  }
  h5{
    font-size: 19px;
  }
  h6{
    font-size: 16px;
  }
  .small{
    font-size: 14px;
  }
  p{
    font-size: 15px;
  }
}
@media(max-width:480.99px){
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 26px;
  }
  h3{
    font-size: 23px;;
  }
  h4{
    font-size: 20px;
  }
  h5{
    font-size: 17px;
  }
  h6{
    font-size: 15px;
  }
  .small{
    font-size: 12px;
  }
  p{
    font-size: 14px;
  }
}