/* Animations */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  






.hero_section_Heading{
    padding-inline: 50px;
}
.yellowHeading{
    color: var(--orange-color);
}
.hero_section_para p{
    color: var(--pink-color);
  font-family: Gilroy-Regular;
}
.banner_section{
    padding-top: 80px;
}
.input_wrapper{
    display: flex;
    justify-content: center;
    gap: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 100px;
    border-radius: 15px;
    padding: 20px;

}
.input_groups{
    display: flex;
    flex-direction: column;
}
.input_wrapper select{
    outline: none;
    border: none;
    margin-block: 11px;
}
.input_wrapper input{
    outline: none;
    border: none;
    padding: 24px;
}
.selectPersons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-block: 10px;
}
.num{
    font-size: 18px;
    color: var(--pink-color);
}
.circle{
    background-color: rgb(124, 124, 107);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding-inline: 3px;
    cursor: pointer;
}
.circle:hover{
    background-color: var(--black-color);
    color: var(--white-color);
    transition: all ease 0.5s;

}
label{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.forward_cricle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 2rem;
}
.forward_cricle:hover{
    background-color: black;
    transition: all ease 0.5s;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  /* input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
  } */


.rating_imgs_wrapper ul{
display: flex;
margin-top: 2rem;
}
.rating_imgs_wrapper ul li{
    list-style: none;
    width: 60px;
    height: 60px;
    margin-inline: -7px;
    position: relative;
}
.rating_imgs_wrapper ul li img{
    list-style: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    right: 20px;
}
.happy_customers,.visa_img{
    margin-top: 20px;
}
.visa_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.happy_customers p{
    color: var(--orange-color);
  font-family: Gilroy-Regular;
}
.starsRating{
    display: flex;
    gap: 1rem;
}
.starsRating p{ 
  font-family: Gilroy-Regular;
color: var(--pink-color);
}

/* SECTION TWO STARTS */

.sectTwo{
    background-image: url('../../assests/images/bg-second.png');
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4rem 0;
}
.download_app{
    margin-top: 8rem;
}
.download_app h3{
    color: var(--white-color);
    font-family: Gilroy-Bold;
}
.apps_group{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.apps_group img{
    width: 200px;
    height: 60px;
}
.popular_sidhes_heading{
    display: flex;
    align-items: center;
    height: 100%;
}
.popular_sidhes_heading h3{
   color: var(--black-color);
   font-family: Gilroy-Bold;
   word-spacing: 16px;
   letter-spacing: 2px;

}
.categories_section{
    background-color: #F8F8F8;
    margin: 40px 0;
    padding: 50px 0;
}
.catg_imgs{
    position: relative;
}
.catg_imgs h6{
    position: absolute;
    top: 0;
    z-index: 1;
    transform: translate(7rem, 17rem);
    color: var(--white-color);
    font-family: Gilroy-Bold;
}
.catg_imgs img{
    margin-bottom: 20px;
    height: 340px;
}
.catgHeading h3{
    font-family: Gilroy-Bold;
    position: relative;
    margin-bottom: 20px;
    margin-left: 60px;
}
.catgHeading h3::before{
    font-family: Gilroy-Bold;
    position: absolute;
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--black-color);    
    top: 50%;
    left: -4%;
}
.popular_sidhes_heading{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    text-align: start;
    align-items: baseline;
}
.primary_btn{
    color: var(--white-color);
    background-color: var(--orange-color);
    font-family: Gilroy-Medium;
    padding: 12px 32px;
    border-radius: 30px;
    text-decoration: none;
}
@media(max-width:1366.99px){
    .catg_imgs img{
        height: 290px;
    }   
    .catg_imgs h6{
        transform: translate(7rem, 14rem);
    } 
}
@media(max-width:1024.99px){
    .catg_imgs img{
        height: 240px;
    }   
    .catg_imgs h6{
        transform: translate(4rem, 12rem);
    } 
    .catgHeading h3::before{
        left: -18%;
    }
}
@media(max-width:991.99px){
    .hero_section_Heading{
        padding-inline: 0px;
    }
    .input_wrapper{
        height: 150px;
    }
}
@media(max-width:768.99px){
    .catg_imgs img{
        height: 175px;
    } 
    .catg_imgs h6{
        transform: translate(2rem, 8rem);
    } 
    .catgHeading h3::before{
        left: -9%;
    }
    .download_app{
        margin-top: 3rem;
    }
}
@media(max-width:767.99px){
    .input_wrapper{
        flex-direction: column;
        height: 30rem;
        width: 28rem;
        justify-content: center;
        position: relative;
    }
    .forward_cricle{
        position: absolute;
        top: 172%;
        left: 42%;
    }
    .input_wrapper select{
      text-align: center;
    }
    .input_wrapper input{
       text-align: center;
    }
    .sectTwo{
        background-image: unset;
        background-color: var(--orange-color);
        margin: 2rem 0;
    }
    .forward_cricle{
        width: 50px;
        height: 50px;
    }
    .rating_imgs_wrapper ul{
       justify-content: center;
        }
        .starsRating{
           justify-content: center;
        }
        .happy_customers,.visa_img{
          text-align: center;
        }
        .mobileImg_Wrapper{
            text-align: center;
        }
        .apps_group{
           justify-content: center;
        }
        .download_app{
          text-align: center;
        }
        .catg_imgs img{
            height: 100%;
            width: 100%;
            margin: 20px 0;
        } 
        .catg_imgs h6{
            transform: translate(14rem, 30rem);
        } 
        .popular_sidhes_heading{
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        .catgHeading h3::before{
           content: unset;
        }
}
@media(max-width:480.99px){
    .forward_cricle{
        position: absolute;
        top: 162%;
        left: 45%;
    }
    .catg_imgs h6{
        transform: translate(10rem, 20rem);
        font-size: 30px;
    } 
}
@media(max-width:420.99px){
    .input_wrapper{
        flex-direction: column;
        height: 34rem;
        width: 100%;
    }
    .apps_group{
        gap: 5px;
        margin-top: 10px;
    }
    .download_app{
        margin-top: 1rem;
    }
}
@media(max-width:380.99px){
    .input_wrapper{
        flex-direction: column;
        height: 34rem;
        width: 100%;
    }
    .apps_group{
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        align-items: center;
    }
    .catg_imgs h6{
        transform: translate(5rem, 17rem);
        font-size: 22px;
    
    } 
}